/* OVERVIEW */

.controls-manager, .secondary-monitor-workspaces {
  spacing: $base_padding * 2;
}

#overviewGroup {
  background-color: $system_bg_color;
  StLabel.hint-text {
    color: transparentize($osd_fg_color, 0.3);
  }
  .search-entry {
    @include entry(normal, $c:$osd_fg_color);
    &:hover { @include entry(hover, $c:$osd_fg_color);}
    &:focus { @include entry(focus, $c:$osd_fg_color);}
    &:insensitive { @include entry(insensitive, $c:$osd_fg_color);}
    box-shadow: inset 0 0 0 1px $osd_button_border;
  }
}

.overview-controls {
  padding-bottom: 32px;
}
