// When color definition differs for dark and light variant,
// it gets @if-ed depending on $variant
@import 'palette';

$base_color: if($variant=='light', #ffffff, lighten($jet, 4%));
$bg_color: if($variant=='light', #FAFAFA, lighten($jet, 2%));
$fg_color_light: transparentize(black, 0.2);
$fg_color: if($variant=='light', transparentize(black, 0.2), white);

$selected_fg_color: $accent_fg_color;
$selected_bg_color: $accent_bg_color;
$selected_borders_color: transparentize($selected_bg_color, .4);

$borders_color: scale-color($fg_color, $alpha: -85%);
$alt_borders_color: darken($bg_color, 28%);
$borders_edge: if($variant=='light', transparentize(black, .86), transparentize(white, 0.93));

$link_color: if($variant=='light', darken($selected_bg_color, 10%), lighten($selected_bg_color, 20%));
$link_visited_color: if($variant=='light', darken($selected_bg_color, 20%), lighten($selected_bg_color, 10%));
$top_hilight: $borders_edge;

$warning_color: $yellow;
$error_color: $red;
$success_color: lighten($green, 5%);
$destructive_color: if($variant=='light', $red, darken($red, 10%));

$osd_fg_color: white;
$osd_bg_color: lighten($jet, 2%);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 50%);
$osd_borders_color: scale-color($osd_fg_color, $alpha: -85%);
$osd_outer_borders_color: transparentize(white, 0.93);

$shadow_color: transparentize(black, 0.9);

// cards
$card_bg_color: if($variant == 'light', #ffffff, mix($bg_color, white, 92%));
$card_hover_bg_color: if($variant == 'light', mix(white, $fg_color, 97%), mix($bg_color, white, 89%));
$card_active_bg_color: if($variant == 'light', mix(white, $fg_color, 92%), mix($bg_color, white, 84%));
$card_fg_color: if($variant == 'light', #323232, #ffffff);

$osd_card_bg_color: mix($osd_bg_color, white, 92%);

// overview background color
$system_bg_color: lighten($jet, 4%); // Lighten than dash but darken than bg-color

// insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);

// panel and dash colors
$panel_bg_color: darken($jet, 2%);
$panel_fg_color: #ffffff;
$dash_background_color: lighten($jet, 2%);

//special cased widget colors
$suggested_bg_color: if($variant=='light', lighten($green, 5%), darken($green, 5%));

// derived hover colors
$hover_bg_color: scale-color($fg_color, $alpha: -93%);
$hover_fg_color: $fg_color;

// derived active colors
$active_bg_color: scale-color($fg_color, $alpha: -84%);
$active_fg_color: $fg_color;

// derived checked colors
$checked_bg_color: scale-color($fg_color, $alpha: -90%);
$checked_fg_color: $fg_color;
$checked_hover_bg_color: scale-color($fg_color, $alpha: -87%);
$checked_active_bg_color: scale-color($fg_color, $alpha: -81%);
