// When color definition differs for dark and light variant,
// it gets @if-ed depending on $variant
@import 'palette';

$base_color: if($variant=='light', #fcfcfc, lighten($jet, 3.75%));
$bg_color: if($variant=='light', #f7f7f7, lighten($jet, 2%));
$fg_color: if($variant=='light', transparentize(black, 0.2), white);

$selected_fg_color: $accent_fg_color;
$selected_bg_color: $accent_bg_color;
$selected_borders_color: transparentize($selected_bg_color, .5);

$element_border: scale-color($fg_color, $alpha: -95%);
$selected_element_border: scale-color($selected_fg_color, $alpha: -90%);
$borders_color: scale-color($fg_color, $alpha: -85%);
$alt_borders_color: darken($bg_color, 33%);
$borders_edge: if($variant=='light', transparentize(black, .92), transparentize(white, .90));

$link_color: if($variant=='light', darken($selected_bg_color, 10%), lighten($selected_bg_color, 20%));
$link_visited_color: if($variant=='light', darken($selected_bg_color, 20%), lighten($selected_bg_color, 10%));
$top_hilight: $borders_edge;

$warning_color: $yellow;
$error_color: $red;
$success_color: lighten($green, 5%);
$destructive_color: if($variant=='light', $red, darken($red, 10%));

$osd_fg_color: white;
$osd_bg_color: lighten($jet, 2%);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 50%);
$osd_borders_color: scale-color($osd_fg_color, $alpha: -85%);
$osd_outer_borders_color: transparentize(white, 0.90);
$osd_element_border: scale-color($osd_fg_color, $alpha: -95%);

$shadow_color: transparentize(black, 0.9);

// overview background color
$system_bg_color: lighten($jet, 3.75%); // Lighten than dash but darken than bg-color

// insensitive state derived colors
$insensitive_fg_color: scale-color($fg_color, $alpha: -50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);

// panel and dash colors
$panel_bg_color: $jet;
$panel_fg_color: #ffffff;
$dash_background_color: lighten($jet, 2%);

//special cased widget colors
$suggested_bg_color: if($variant=='light', lighten($green, 5%), darken($green, 5%));

// derived hover colors
$hover_bg_color: scale-color($fg_color, $alpha: -93%);
$osd_hover_bg_color: scale-color($osd_fg_color, $alpha: -93%);
$hover_fg_color: $fg_color;

// derived active colors
$active_bg_color: scale-color($fg_color, $alpha: -84%);
$osd_active_bg_color: scale-color($osd_fg_color, $alpha: -84%);
$active_fg_color: $fg_color;

// derived checked colors
$checked_bg_color: scale-color($fg_color, $alpha: -90%);
$osd_checked_bg_color: scale-color($osd_fg_color, $alpha: -90%);
$checked_fg_color: $fg_color;
$checked_hover_bg_color: scale-color($fg_color, $alpha: -87%);
$checked_active_bg_color: scale-color($fg_color, $alpha: -81%);
$osd_checked_hover_bg_color: scale-color($osd_fg_color, $alpha: -87%);
