// This file is used to define colors that are going to be used to replace
// assets (dummy) colors via colorize-dummy-svg.py

$variant: if($yaru_is_dark_variant, 'dark', 'light');

@import '../gnome-shell/src/gnome-42/gnome-shell-sass/_colors.scss';

$yaru_colors: (
    bg-color: $bg_color,
    accent-bg-color: $yaru_accent_bg_color,
    accent-active-color: $accent_bg_color,
    accent-focused-color: $accent_bg_color,
    border-color: $borders_color,
    switch-bg-color: $borders_color,
    check-bg-color: $bg_color,
);

$yaru_colors: map-merge($yaru_colors, (
    accent-border-color: lighten(map-get($yaru_colors, accent-active-color), 17%),
));

@function opaque-color($color, $background: $bg_color) {
    @if alpha($color) == 1 {
        @return $color;
    }

    $percent: alpha($color) * 100%;
    $opaque: opacify($color, 1);
    $solid-color: mix($opaque, $background, $percent);
    @return $solid-color;
}

* {
@each $name, $color in $yaru_colors {
    $opaque: opaque-color($color);
    @if $opaque == $color {
        -yaru-#{$name}: #{$color};
    } @else {
        -yaru-#{$name}: $opaque;
    }
}
};
