/* Entries */

$entry_height: 34px;

StEntry {
  border-radius: $entry_height * 0.5;
  height: $entry_height;
  padding: 0 $base_padding+6px;

  @include entry(normal);
  &:hover { @include entry(hover);}
  &:focus { @include entry(focus);}
  &:insensitive { @include entry(insensitive);}

  selection-background-color: $selected_bg_color;
  selected-color: $selected_fg_color;

  StIcon.capslock-warning {
    icon-size: 16px;
    warning-color: $warning_color;
    padding: 0;
  }

  StIcon.peek-password {
    icon-size: $base_icon_size;
    padding: 0;
  }

  StLabel.hint-text {
    margin-left: 2px;
    color: scale-color($fg_color, $alpha: -30%);
  }
}
