/* OVERVIEW */

.controls-manager, .secondary-monitor-workspaces {
  spacing: $base_padding * 2;
}

#overviewGroup {
  background-color: $system_bg_color;
  StLabel.hint-text {
    color: transparentize($fg_color_dark, 0.3);
  }
  %search_entry,
  .search-entry {
    @include entry(normal, $c:$fg_color_dark);
    &:hover { @include entry(hover, $c:$fg_color_dark);}
    &:focus { @include entry(focus, $c:$fg_color_dark);}
    &:insensitive { @include entry(insensitive, $c:$fg_color_dark);}
    border: 1px solid transparentize(black, .92);
    box-shadow: 0 1px 2px 1px transparentize(black, .98);
  }
}

.overview-controls {
  padding-bottom: 32px;
}
